<!doctype html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body class='container'>
<div class='m-5'><p class='text-center bg-success'>{% if msg%}
{{ msg }}
{% endif %}
</p></div>
<div class='m-5'>
{% load crispy_forms_tags %}
<form action='' method='POST'>
{% csrf_token %}
{{ form|crispy }}
<input type= 'submit' value= 'Submit'> 
</form>
</div>
</body>
</html>